<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
        .samaRivi{
            display: inline-block;
        }
        #saaruutu{

              color: black;
              padding: 15px;
        }
        button{
            background-color:steelblue;
            font-weight: bold;
            padding: 3px 10px;
            border-radius: 15px;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2) 6px 20px 0 rgba(0,0,0,0.19);
        }

        body{
            background-color:powderblue;
        }
    </style>
  </head>
  <body>
    <div id="app" >
        <!--<a href="https://high.fi/pesapallo/json" title="pesapallo">Pesäpallo</a>-->
        
        <input type="text" v-model="paikkakunta" @keyup.enter="haePaivamaarat()">
        <button type="button" name="button" @click="haePaivamaarat()">Hae</button>


        <br><br>

        
            
                <!-- <td v-for="item in paivamaarat">
                    <button type="button" name="button" @click="getAnswer()" :id="item">{{ item }}</button>
                </td> -->
        <div class='samaRivi' v-for="item in paivamaarat">
            <button type="button" name="button" @click="asetaPaiva()" :id="item">{{ item }}</button>
        </div>
        
        <br><br>

        <div class='samaRivi' id="saaruutu" v-for="item in saa" v-if="item.paiva==valittuPaiva">    
            <div >
                <p>{{ item.paiva }}</p>
                <p>{{ item.kellonaika }}</p>
                <p>{{ item.lampotila }} </p>
                <p>{{ item.tuuli }} </p>
                <img :src="item.kuvanosoite"></img> 
            </div>     
        </div> 
        
        {{title}} <!--tähän tulostuu virheilmoitus, jos etsittyä kaupunkia ei löydy-->
        

        <!--<h5>Suosikit:</h5>
        <button type="button" name="button" @click="haePaivamaarat()">Ruovesi</button>-->
        
        
    </div>

    <!--scriptien järjestyksellä on väliä-->

    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
    <script src="saa3.js"></script>
    
  </body>
</html>