<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style></style>
  </head>
  <body>
    <div id="app" >
        <a href="https://high.fi/pesapallo/json" title="pesapallo">Pesäpallo</a>
        
        <input type="text" v-model="paikkakunta" @keyup.enter="haePaivamaarat()">
        <button type="button" name="button" @click="haePaivamaarat()">Ruovesi</button>
        <table border=1>
            <tr>
                <td v-for="item in paivamaarat">
<!--<button type="button" name="button" @click="getAnswer()" :id="item">{{item}}</button>-->
                    <button type="button" name="button" @click="getAnswer()" :id="item">{{item}}</button>
                </td>
            </tr>
        </table>
        

        <div v-for="item in saa">
            
                    <p v-if="item.paiva==today">
                        {{ item.paiva }}
                        {{ item.saa }}
                      <img :src="item.kuvanosoite"></img>    
                    </p>
        </div>

          
        
        
    </div>

    <!--scriptien järjestyksellä on väliä-->
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="saa.js"></script>
  </body>
</html>